@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Heebo", sans-serif;
}

/* header section from here */

.head-style {
  height: 90px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 27px 60px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 33px;
}

.nav-links {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #000;
}

/* profile section from here */

.introduction {
  display: flex;
  justify-content: space-between;
  padding: 0px 148px;
  margin-top: 140px;
  margin-bottom: 71px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 18px;
}

.profile-intro {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: #21243d;
  max-width: 506px;
}

.profile-intro-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #21243d;
  max-width: 497px;
  min-height: 66px;
}

.profile-download {
  width: 208px;
  height: 47px;
  background-color: #ff6464;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 2px;
}

.prof-pic-main {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  box-shadow: -5px 13px 0 0 #edf7fa;
}

/* card section from here */

.posts {
  width: 100%;
  height: 396px;
  background-color: #edf7fa;
}

.posts-container {
  padding: 0px 148px;
}

.posts-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent {
  margin-top: 7px;
}

.recent h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  color: #21243d;
}

.viewing {
  margin-top: 17px;
}

.viewing a {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #00a8cc;
}

.post-card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  height: 295px;
  column-gap: 20px;
}

.post-card {
  width: 50%;
  height: 295px;
  background-color: #fff;
  border-radius: 4px;
  padding: 23px 24px 7px 21px;
  overflow: hidden;
}

.post-card h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 150%;
  color: #21243d;
}

.post-card h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #21243d;
  padding: 17px 0px;
}

.line {
  padding: 0px 24px;
}

.post-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #21243d;
}

/* featured works section from here */

.featured {
  padding: 15px 148px 53px;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.featured a {
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  color: #21243d;
}

.featured-cards {
  display: flex;
  justify-content: space-between;
  column-gap: 18px;
}
.featured-desc h3 {
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  color: #21243d;
}

.featured-desc h5 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #8695a4;
}

.featured-desc {
  display: flex;
  justify-content: start;
  flex-direction: column;
  row-gap: 21px;
}

.date {
  display: flex;
  gap: 26px;
}

.date-style {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  background-color: #142850;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  align-items: center;
  line-height: 50%;
}

.headling {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #8695a4;
}

.extended {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #21243d;
}

hr {
  background-color: #e0e0e0;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 50%;
}

/* footer from here */

.feet {
  padding: 0px 148px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 26px;
}

.social-logos {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

.social-logos img {
  cursor: pointer;
}

.feet p {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #21243d;
  text-align: center;
}

/* responsive from here */

.burger-menu {
  display: none;
}

@media (max-width: 700px) {
  .head-style {
    height: 53px;
  }

  .navigation {
    padding: 0px;
    padding-right: 18px;
  }

  .card {
    width: 100%;
  }

  .introduction {
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 34px;
    margin-top: 33px;
    margin-bottom: 58px;
  }

  .profile-section {
    text-align: center;
  }

  .profile-intro {
    font-size: 32px;
    line-height: 36px;
  }

  .nav-list {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .introduction,
  .posts-container,
  .featured,
  .feet,
  .profile-section {
    padding: 0px 10px;
    align-items: center;
  }

  .viewing {
    display: none;
  }

  .posts {
    width: 100%;
    height: 720px;
  }

  .posts-nav ul {
    justify-content: center;
  }

  .post-card-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    row-gap: 17px;
  }

  .post-card {
    width: 100%;
    padding: 12px 21px 22px 19px;
  }

  .recent {
    margin: 0px;
  }

  .featured-cards {
    display: block;
  }

  .featured-cards img {
    width: 100%;
    margin-bottom: 17px;
  }
}
